@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: white;
}

body {
    background-color: black;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    background: yellow;
    color: black;
    border: 2px solid white;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover {
    background: gray;
    color: white;
    transition: all 0.3s ease;
}
.btn-light {    
    background: transparent;
    color: white;
}
.icon {
    width: 1.5rem;
    height: auto;
    margin-right: 1.5rem;
}
